@model SplashScreenModel


<input type="hidden" id="SplashScreenData"
       data-showscreen=@Model.ShowScreen
       @*customize the duration here*@
       data-splashscreenduration=@Model.Duration />

<link rel="stylesheet" href="~/css/SplashScreens/birthdaySplashScreen.css" />

<div id="splashScreenWrapper" style="display: @(Model.ShowScreen == true ? "block" : "none")">
    <div id="splashScreenOverlay"></div>
    <div id="nlecaSplashScreen" role="status">
        <span id="nlecaSplashScreenN" aria-hidden="true">N</span>
        <span id="nlecaSplashScreenL" aria-hidden="true">L</span>
        <span id="nlecaSplashScreenE" aria-hidden="true">E</span>
        <span id="nlecaSplashScreenC" aria-hidden="true">C</span>
        <span id="nlecaSplashScreenA" aria-hidden="true">A</span>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script src="~/js/SplashScreens/SplashScreen.js" asp-append-version="true"></script>

