@model BirthdaySplashScreenModel


<input type="hidden" id="SplashScreenData"
       data-showscreen=@Model.ShowScreen
       @*customize the duration here*@
       data-splashscreenduration=@Model.Duration />

<link rel="stylesheet" href="~/css/SplashScreens/birthdaySplashScreen.css" />

<div id="splashScreenWrapper" style="display: @(Model.ShowScreen == true ? "block" : "none")">
    <div id="splashScreenOverlay"></div>

    <div id="birthdaySplashScreen" role="status">
        <div>
            <span id="birthdaySplashScreenGreeting">HAPPY BIRTHDAY!!!</span>
        </div>

        <div>
            <span id="birthdaySplashScreenName">@Model.Name</span>
        </div>

        <span class="sr-only">Loading...</span>
    </div>

    <div id="splashScreenClosingInstructions">
        <div>
            <span class="closingInstructions">Click anywhere on screen to close</span>
        </div>

        <div>
            <span class="closingForDay" aria-hidden="true">or Click <span id="closeBirthdaySplashScreenForDay">HERE</span> to close for the day</span>
        </div>
    </div>

</div>

<script src="~/js/SplashScreens/SplashScreen.js" asp-append-version="true"></script>
<script src="~/js/SplashScreens/BirthdaySplashScreen.js" asp-append-version="true"></script>

