@model NewsletterModel;

@using NLECA_Core_Newsletter_App.Models.Newsletter;

@{
    ViewData["Title"] = "Newsletter";
}
<div id="Newsletter">
    <span class="developmentNotice">NLECA Site currently in development.</span>
    <span class="developmentInstruction">Check back later for progress.</span>
    <div class="banner">
        <div class="bannerImage"></div>
        <div class="bannerDate"><h2>@DateTime.Parse(Model.DisplayDate).ToString("MMMM yyyy")</h2></div>
        <div class="bannerTitle"><h1>NLECA Newsletter</h1></div>
    </div>
    
    

    @if (Model.Articles.Count() == 0)
    {
        <h1>This newsletter does not have any articles yet...</h1>
    }
    else
    {
        @foreach (ArticleModel article in Model.Articles)
        {
            <h2>@Html.Raw(article.ArticleText)</h2>
        }
    }
</div>