@model NLECA_Core_Newsletter_App.Models.Newsletter.Newsletter;

@using NLECA_Core_Newsletter_App.Models.Newsletter;

@{
    ViewData["Title"] = "Newsletter";
}

@if (Model.Articles.Count() == 0)
{
    <h1>Error: There was a problem retrieving the newsletter</h1>
}
else
{
    <h1>@Model.CreatedDate</h1>

    @foreach (Article article in Model.Articles)
    {
        <h2>@article.Text</h2>
    }
}
