@model NewsletterModel;

@using NLECA_Core_Newsletter_App.Models.Newsletter;

@{
    ViewData["Title"] = "Newsletter";
}

<span style="color: red; font-size: larger;">NLECA Site currently in development.</span>
<span style="font-size: larger;">Check back later for progress.</span>
<h1>Mock Newsletter Added: @Model.CreatedDate</h1>
<h2>Display Date: @DateTime.Parse(Model.DisplayDate).ToString("MMMM yyyy")</h2>

@if (Model.Articles.Count() == 0)
{
    <h1>This newsletter does not have any articles yet...</h1>
}
else
{
    @foreach (ArticleModel article in Model.Articles)
    {
        <h2>article.ArticleText</h2>
        @*<h2>@Html.Raw(article.ArticleText)</h2>*@
    }
}
