@model NewsletterModel;

@using NLECA_Core_Newsletter_App.Models.Newsletter;

@{
    ViewData["Title"] = "Newsletter";
}

<div id="Newsletter">
    <span class="developmentNotice">NLECA Site currently in development.</span>
    <span class="developmentInstruction">Check back later for progress.</span>
    <partial name="~/Views/Shared/_Newsletter.cshtml" model="@Model" />
</div>
