
@{
    ViewData["Title"] = "User Manager";
}

<h1>@ViewData["Title"]</h1>

<div>
    <span>
        TODO: Display current users to select from
    </span>
</div>

<div>
    <span>
        TODO: have edit text box to search available users
    </span>
</div>

<div>
    <span>
        TODO: for each user be able to select their roles/privileges
    </span>
</div>

<div>
    <span>
        TODO: add ability to change password
    </span>
</div>

<div>
    <span>
        TODO:
    </span>
</div>