@using NLECA_Core_Newsletter_App.Models.Newsletter

@model List<NewsletterModel>

@{
    ViewData["Title"] = "Newsletter Manager";
    bool canEdit = User.IsInRole("SuperAdmin") || User.IsInRole("Admin");
    string editorEnabledClass = canEdit ? "" : "disabled";
}


@section HeadIncludes{
    <link href="~/lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/ManageNewsletter.css" rel="stylesheet" />
}

@section Scripts{
    <script type="text/javascript" src="~/js/Newsletter/NewsletterManager.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
}

<h1>Newsletter Manager</h1>
<hr />

@foreach (NewsletterModel newsletter in Model)
{
    <div class="individualNewletter" data-newsletterid="@newsletter.NewsletterId">
        <h2>@DateTime.Parse(newsletter.DisplayDate).ToString("MMMM yyyy") Newsletter</h2>
        <span>@newsletter.Memo - Created:  @newsletter.CreatedDate.ToString("MMMM dd, yyyy")</span>

        @if (newsletter.IsCurrent)
        {
            <button class="unpublishNewsletterButton">Unpublish</button>
        }
        else
        {
            <button class="editNewsletterButton">Edit</button>
            <button class="deleteNewsletterButton">Delete</button>
            if (newsletter.HasBeenPublished)
            {
                <button class="publishNewsletterButton">Re-Publish</button>
            }
            else
            {
                <button class="publishNewsletterButton">Publish</button>
            }
        }
        <hr />
    </div>
}

@* ADD NEWSLETTER *@
<button id="AddNewsletterButton">Add New Newsletter</button>

@* DIALOGS *@
<div id="UnpublishNewsletterDialog"
     title="Unpublish?">
    <span class="dialogTextLine">
        Are you sure you would like to unpublish this newsletter?
    </span>
    <span class="dialogTextLine">
        No newsletter will be shown on the main NLECA page.
    </span>
</div>

<div id="PublishNewsletterDialog"
     title="Publish?">
    <span class="dialogTextLine">
        Are you sure you would like to Publish this newsletter?
    </span>
    <span class="dialogTextLine">
        This will replace the newsletter shown on the main NLECA page.
    </span>
</div>

<div id="DeleteNewsletterDialog"
     title="DELETE?">
    <span class="dialogTextLine">
        Are you
        <span class="dialogWarningText">ABSOLUTELY SURE</span>
        you would like to
        <span class="dialogWarningText">DELETE</span>
        this newsletter?
    </span>
    <span class="dialogTextLine">
        No data of this newsletter will be saved.
    </span>
    <span class="dialogTextLine">
        It will be gone forever.
    </span>
</div>

