@model SpinnerModel


<input type="hidden" id="SpinnerData"
       data-showspinner=@Model.ShowSpinner />


<link rel="stylesheet" href="~/css/Spinners/nlecaSpinner.css" />

<div id="nlecaSpinnerWrapper" style="display: @(Model.ShowSpinner == true ? "block" : "none")">
    <div id="nlecaSpinnerOverlay"></div>
    <div id="nlecaSpinner" role="status">
        <span id="nlecaSpinnerText" aria-hidden="true">NLECA</span>
        <span class="sr-only">Loading...</span>
    </div>
</div>

<script src="~/js/Spinners/NLECASpinner.js" asp-append-version="true"></script>