#memoAndDisplayDateSaveChanges {
    display: none;
}

.saveArticleOrderButton {
    display: none;
}

.changeArticleOrderButton {

}

.changeArticleOrderDirectionsSpan {
    color: red;
    display: none;
}

    .articleOrderEditor {
        list-style-type: none;
    }

    .articleOrderEditor.ui-sortable-handle:hover {
        background-color: lightyellow;
        cursor: ns-resize;
    }

.articlePlaceHolder {
    border: 3px dashed darkgray;
    background-color: lightyellow;
    height: 250px;
}


#TableOfContents.sorting {
    background-color: lightyellow;
}

    #TableOfContents.sorting .ui-sortable-handle a:hover {
        cursor: ns-resize;
    }

.tableOfContentsPlaceHolder {
    background-color: lightyellow;
    height: 24px;
}

.articleSorter.ui-sortable {
    background-color: #eee;
}
