#memoAndDisplayDateSaveChanges {
    display: none;
}

.saveArticleOrderButton {
    display: none;
}

#memoSaveChanges{
    display: none;
}

#displayDateSaveChanges {
    display: none;
}

.changeArticleOrderButton {
}

.changeArticleOrderDirectionsSpan {
    color: red;
    display: none;
}

.articleContent {
    list-style-type: none;
}

    .articleContent.ui-sortable-handle:hover {
        background-color: lightyellow;
        cursor: grab;
    }

    .articleContent.ui-sortable-handle:active {
        cursor: grabbing;
    }

.articlePlaceHolder {
    border: 3px dashed darkgray;
    background-color: lightyellow;
    height: 250px;
}


#TableOfContents.sorting {
    background-color: lightyellow;
}

    #TableOfContents.sorting .ui-sortable-handle a:hover {
        cursor: grab;
    }

    #TableOfContents.sorting .ui-sortable-handle a:active {
        cursor: grabbing;
    }

.tableOfContentsPlaceHolder {
    background-color: lightyellow;
    height: 24px;
}
#sortableTableOfContents.ui-sortable {
    background-color: #eee;
}

#NewsletterEditor .articleContent:hover {
    cursor: url('../images/editcursor.png'), auto;
}

#NewsletterEditor .newsletterDate:hover {
    cursor: url('../images/editcursor.png') 0 32, auto;
}

