.validationWarning {
    display: none;
    color: red;
}

#TimedEventDateTimeArea {
    display: none;
}
#AllDayEventDateTimeArea {
    display: none;
}
#MultiDayEventDateTimeArea {
    display: none;
}

.eventDateTimeArea {
    padding-bottom: 16px;
}
